# Environnements virtuels
.venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache
__init__.py

# Fichiers node
.DS_Store
node_modules
dist
tsconfig.tsbuildinfo

# Données et logs
db/
logs/
mlruns/
kuma_backup/
kuma.db

# Environnement
.env

# IDE
.vscode/
.idea/

# Autre
users/modules/api/users/initial_users.yaml